.hidedContent {
  display: none;
}

.showContent {
  display: block;
}

.contentContainer {
  .btnState {
    font-weight: 700;

    img {
      transform: rotate(175deg);
      transition: transform 0.6s;
    }
  }

  button {
    display: flex;
    background: none;
    border: none;
    padding: 0.6rem;
    padding-top: 1rem;
    color: var(--very-dark-grayish-blue);
    font-size: 0.95rem;
    font-weight: 100;
    width: 100%;
    justify-content: space-between;

    &:hover {
      color: var(--soft-red);
      cursor: pointer;
    }

    img {
      align-self: center;
    }
  }

  p {
    color: var(--desaturated-blue);
    line-height: 1.4rem;;
    font-size: 0.83rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
  }

  hr {
    width: 98%;
    border-top: 1px solid #1d1d1d;
  }
}
